Edit Library Details page

<%= form_for :user, url: user_edit_path(@user),method: :put do |f| %>
 <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email%>
  </p>
   <p>
    <%= f.label :password%><br>
    <%= f.password_field :password%>
  </p>
 
  <p>
    <%= f.submit %>
    
  </p>
<% end %>